// Стили для блока Container
//--------------------------

.button {
  font-family: $secondary-font;
  color: $secondary-text;
  background-color: $btn-base;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    color: $secondary-text;
    background-color: $btn-base-hover;
  }
}
