// Стили для блока Catalog
//------------------------

.catalog {
  padding: 25px 0 35px;
  margin: 0;
}

.catalog__title {
  @include title;
  padding: 0;
  margin: 0;
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog__item {
  width: 100%;
  padding: 20px 0 25px;
  margin: 0;
  border-top: $border-base;
  border-bottom: $border-base;
}

.catalog__link {
  display: inline-block;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.catalog__subtitle {
  @include subtitle;
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  color: $base-text-lighten;
}

.catalog__features-product {
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
}

.catalog__feature {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.catalog__button {
  display: block;
  width: 280px;

  &--to-all {
    color: $base-text-content;
    background-color: $btn-secondary;
  }
}

.catalog__text {
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
}
