// Стили для блока Form
//---------------------

.form {
  display: flex;
  flex-flow: column wrap;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
  }
}

.form__input {
  width: 280px;
  padding: 13px 11px;
  margin: 0;
  margin-bottom: 15px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 29px;
  color: $base-text-content;
  text-transform: uppercase;
  border: 1px solid $border-input;
  box-sizing: border-box;

  .error & {
    border: 2px solid $border-input-error;
  }

  &:hover {
    border: 2px solid $border-input-hover;
  }

  &:active,
  &:focus-visible {
    border: 2px solid $border-input-pressed;
  }

  &:disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    width: 376px;
    padding: 13px 12px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.form__button {
  padding: 15px 10px;
  font-size: 20px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    width: 256px;
  }
}
