// Стили для блока Intro
//----------------------

.intro {
  display: block;
  width: 100%;
  background-color: $bg-base;

  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 302px;
    background-size: contain, 100% 302px, contain;
    background-image: url("../../images/background/intro-bg-mobile@1x.png"), linear-gradient(to right, #64a73c 14%, #62a53a 68%);
    background-repeat: no-repeat;
    background-position: 50% 0;
  }

  @media (min-width: $tablet-width) {
    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 83px;

    &::before {
      background-color: #68b738;
      background-image: url("../../images/background/intro-bg-desktop@1x.png"), linear-gradient(#64a73c 14%, #62a53a 68%);
      background-repeat: no-repeat;
      background-size: 1040px 694px, contain;
      width: 50%;
      height: 694px;
      display: block;
      position: absolute;
      inset: 0 0 0 50%;
      z-index: 0;
    }
  }
}

.intro__wrapper {
  position: relative;
  padding: 27px 0 0;

  @media (min-width: $tablet-width) {
    padding: 60px 0 0;
  }

  @media (min-width: $desktop-width) {
    min-height: 540px;
    padding: 37px 0 0;
  }
}

.intro__title {
  @include title;
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    max-width: 530px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    color: $base-text;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    max-width: 575px;
    padding: 70px 0 0;
    margin: 0 0 39px 80px;
  }
}

.intro__slogan {
  position: relative;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 29px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $secondary-text;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 530px;
    margin-bottom: 21px;
    font-size: 20px;
    line-height: 20px;
    color: $base-text;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    max-width: 575px;
    margin: 0 0 23px 80px;
  }
}

.intro__image {
  position: relative;
  display: block;
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 52px;
    left: 557px;
    width: 552px;
    height: 499px;
  }
}

.intro__button {
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 120px;
    bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 185px;
    left: 190px;
  }
}
