// Стили для блока Logo
//-----------------------

.logo {
  text-decoration: none;
}

.logo__icon {
  display: block;
  width: 33px;
  height: 38px;
}

.logo__text {
  display: block;
  width: 101px;
  height: 18px;
}
