// Стили для блока Programs
//-------------------------

.programs {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  margin: 0;
}

.programs__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.programs__item {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0;
  margin: 0;
  margin-bottom: 20px;
  background-color: $bg-second;
}

.programs__item:last-child {
  margin-bottom: 0;
}

.programs__subtitle {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  color: $base-text;
  text-transform: uppercase;
}

.programs__description {
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 18px;
}

.programs__link {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $base-text;
  text-transform: uppercase;
  text-decoration: none;
}
