// Стили для блока Promotions
//---------------------------

.promotions {
  padding: 40px 0;
  margin: 0;
}

.promotions__heading {
  @include heading;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 24px;
}

.promotions__text {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: $base-text;
}

.promotions__form {
  display: flex;
  flex-direction: column;
}
