// Стили для блока Result
//-----------------------

.result {
  width: 100%;
  padding: 25px 0 40px;
  background-color: $bg-special;

  @media (min-width: $tablet-width) {
    padding: 46px 0 115px;
    background-image: linear-gradient($bg-base 58%, $bg-special 58%);
  }

  @media (min-width: $desktop-width) {
    padding: 23px 0 76px;
    background-image: linear-gradient($bg-base 25%, $bg-second 25%);
  }
}

.result__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 444px 224px;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 1fr 1fr;
    gap: 0 93px;
  }
}

.result__heading {
  @include heading;
  max-width: 280px;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    max-width: 465px;
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    margin-bottom: 145px;
  }
}

.result__description {
  max-width: 280px;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2/ 3;
    max-width: 708px;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    width: 433px;
    margin-bottom: 68px;
  }
}

.result__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, min-content);
  gap: 0 30px;
  max-width: 280px;
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
  text-align: center;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 2;
    grid-row: 3/ 4;
    gap: 0 44px;
    max-width: 367px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.result__criterion {
  display: grid;
  width: 80px;
  margin: -9px auto 0;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: $bg-special;
  z-index: 1;

  &--weight {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }

  &--time {
    grid-column: 2 / -2;
    grid-row: 2 / -2;
    padding: 0 8px;
  }

  @media (min-width: $tablet-width) {
    width: 125px;
    margin-top: -10px;
    font-size: 14px;
    line-height: 14px;
    background-color: $bg-base;

    &--time {
      padding: 0 8px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -9px;
    margin-bottom: 12px;
    background-color: $bg-second;
  }
}

.result__value {
  width: 125px;
  padding: 15px 0;
  margin: 0;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $base-text;
  text-transform: uppercase;
  border: 1px solid $border-base-darker;
  border-radius: 3px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 161px;
    padding: 17px 0;
    font-size: 30px;
    line-height: 37px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 0 17px;
  }
}

.result__conclusion {
  display: flex;
  gap: 3px;
  width: 186px;
  padding: 0;
  margin: 0 auto 20px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $base-text;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    grid-column: 2 / -1;
    grid-row: 3 / 4;
    flex-direction: column;
    align-items: flex-end;
    gap: 9px;
    width: 222px;
    margin-top: 12px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 4 / -1;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    width: 327px;
    margin: 0;
    margin-top: 44px;
  }
}

.result__number {
  padding: 0;
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $base-text;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.result__preview {
  display: block;
  width: 280px;
}
